body {
  font-size: 0.9375rem;
  font-family: "Alata", sans-serif;
}

.container {
  max-width: 90rem;
  width: 90%;
  margin: 0 auto;
}
@media (min-width: 45rem) {
  .container {
    width: 80%;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: blur(10px);
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.hamburger {
  width: 1.5rem;
  cursor: pointer;
  z-index: 2;
}
.hamburger span {
  display: block;
  height: 2px;
  width: 100%;
  background-color: white;
  transition: all 200ms linear;
}
.hamburger span + span {
  margin-top: 5px;
}
@media (min-width: 45rem) {
  .hamburger {
    display: none;
  }
}

#toggle:checked + label > .top {
  transform: translateY(0.45rem) rotateZ(45deg);
}

#toggle:checked + label > .middle {
  width: 0;
}

#toggle:checked + label > .bottom {
  transform: translateY(-0.45rem) rotateZ(-45deg);
}

.header {
  padding-block: 2.5rem 0.875rem;
  background-image: url(../../images/mobile/image-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 40.625rem;
}
@media (min-width: 45rem) {
  .header {
    padding-top: 3.75rem;
    background-image: url(../../images/desktop/image-hero.jpg);
  }
}
.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__navigation img {
  z-index: 2;
}
.header input {
  display: none;
}
.header .nav {
  height: 0;
  opacity: 0;
  z-index: -1;
  position: absolute;
  top: -100%;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: black;
  transition: all 350ms linear;
  display: flex;
  align-items: center;
}
.header .nav__items {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem 0;
}
@media (min-width: 45rem) {
  .header .nav__items {
    flex-direction: row;
    gap: 0 2rem;
  }
}
.header .nav__link {
  text-decoration: none;
  outline: none;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: lighter;
  color: white;
  position: relative;
}
@media (min-width: 45rem) {
  .header .nav__link {
    font-size: 0.9375rem;
    text-transform: capitalize;
    font-family: inherit;
  }
}
.header .nav__link::after {
  content: "";
  height: 1px;
  background-color: white;
  position: absolute;
  left: 100%;
  right: 100%;
  bottom: 0;
  transition: all 200ms linear;
}
.header .nav__link:hover::after, .header .nav__link:focus::after {
  left: 0;
  right: 0;
}
@media (min-width: 45rem) {
  .header .nav {
    position: initial;
    opacity: 1;
    z-index: 1;
    background-color: transparent;
  }
}

#toggle:checked ~ .nav {
  height: auto;
  opacity: 1;
  top: -1;
  z-index: 1;
  top: 0;
  overflow: hidden;
}

.hero {
  color: white;
  margin-top: 10rem;
}
@media (min-width: 45rem) {
  .hero {
    margin-top: 7.75rem;
  }
}
.hero__title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.5rem;
  font-weight: lighter;
  text-transform: uppercase;
  line-height: 1;
  max-width: 13ch;
  outline: 2px solid currentColor;
  padding: 1.5rem;
  margin-inline: auto;
}
@media (min-width: 45rem) {
  .hero__title {
    font-size: 4.5rem;
    margin-inline: initial;
  }
}

.intro {
  margin-top: 6rem;
  text-align: center;
}
@media (min-width: 60rem) {
  .intro {
    margin-top: 10rem;
    display: flex;
    justify-content: space-between;
    text-align: initial;
  }
}
.intro__img, .intro img {
  max-width: initial;
  width: 100%;
}
@media (min-width: 60rem) {
  .intro__img, .intro img {
    width: initial;
  }
}
.intro__content {
  padding: 4rem 2rem 0 2rem;
}
@media (min-width: 60rem) {
  .intro__content {
    align-self: flex-end;
    background-color: white;
    transform: translateX(-90%);
    padding: 4rem 0 0 5%;
    transition: all 250ms linear;
  }
}
@media (min-width: 70rem) {
  .intro__content {
    transform: translateX(-60%);
  }
}
@media (min-width: 85rem) {
  .intro__content {
    transform: translateX(-30%);
  }
}
.intro__title {
  max-width: 20ch;
  margin-inline: auto;
  margin-bottom: 1.5rem;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  line-height: 1;
  font-weight: normal;
  text-transform: uppercase;
}
@media (min-width: 60rem) {
  .intro__title {
    margin-inline: initial;
    font-size: 3rem;
  }
}
.intro__text {
  max-width: 45ch;
  margin-inline: auto;
  margin-top: 1.5rem;
  opacity: 0.8;
}
@media (min-width: 60rem) {
  .intro__text {
    margin-inline: initial;
    margin-top: 0;
    width: 45ch;
  }
}

.creations {
  margin-top: 6rem;
  text-align: center;
  display: grid;
}
@media (min-width: 45rem) {
  .creations {
    margin-top: 11.5rem;
    align-items: center;
    grid-template-areas: "title    title    button   button" "items  items  items items";
  }
}
.creations__item {
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 300ms linear;
  outline: none;
  cursor: pointer;
}
.creations__item::after {
  content: attr(data-caption);
  text-transform: uppercase;
  color: white;
  font-size: 1.5rem;
  font-family: "Josefin Sans", sans-serif;
  position: absolute;
  bottom: 1.625rem;
  left: 1.25rem;
  transition: all 300ms linear;
}
@media (min-width: 60rem) {
  .creations__item::after {
    font-size: 2rem;
  }
}
@media (min-width: 45rem) {
  .creations__item::after {
    margin-inline: auto;
    max-width: 10ch;
  }
}
.creations__item:hover::after, .creations__item:focus-within::after {
  color: black;
  bottom: 10%;
}
.creations__item:hover, .creations__item:focus-within {
  background-color: white;
}
.creations__item:hover img, .creations__item:focus-within img {
  filter: blur(1px) opacity(0.5);
}
.creations img {
  mix-blend-mode: multiply;
}
.creations__items {
  list-style: none;
  display: inherit;
  grid-gap: 1.875rem;
}
@media (min-width: 45rem) {
  .creations__items {
    grid-template-columns: repeat(2, 1fr);
    grid-area: items;
    text-align: initial;
  }
  .creations__items img {
    object-fit: cover;
    height: 28.125rem;
    width: 100%;
  }
}
@media (min-width: 60rem) {
  .creations__items {
    grid-template-columns: repeat(4, 1fr);
  }
}
.creations__title {
  max-width: 20ch;
  margin-inline: auto;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  line-height: 1;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
@media (min-width: 45rem) {
  .creations__title {
    grid-area: title;
    justify-self: start;
    margin-inline: initial;
    margin-bottom: 0;
  }
}
@media (min-width: 60rem) {
  .creations__title {
    font-size: 3rem;
  }
}
.creations__button {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-size: 0.875rem;
  padding: 0.9375em 2.6875em;
  border: 1px solid;
  margin-inline: auto;
  transition: all 200ms linear;
}
.creations__button:hover, .creations__button:focus {
  color: white;
  background-color: black;
  outline: 1px solid;
  outline-offset: -6px;
}
@media (min-width: 45rem) {
  .creations__button {
    grid-area: button;
    margin-inline: initial;
    justify-self: end;
  }
}

.footer {
  margin-top: 6rem;
  padding-block: 3.5rem;
  background-color: black;
  color: white;
  text-align: center;
}
@media (min-width: 45rem) {
  .footer {
    margin-top: 10rem;
    padding-block: 2.5rem;
  }
  .footer .container {
    display: grid;
    grid-template-areas: "logo  social" "links copyright";
  }
}
.footer__img {
  margin-inline: auto;
  grid-area: logo;
}
@media (min-width: 45rem) {
  .footer__img {
    margin-inline: initial;
  }
}
.footer__links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem 0;
  margin-block: 2rem 3rem;
  grid-area: links;
}
@media (min-width: 45rem) {
  .footer__links {
    flex-direction: unset;
    gap: 0 2rem;
    margin-block: 0;
  }
}
.footer__link {
  text-decoration: none;
  text-transform: capitalize;
  font: inherit;
  color: inherit;
  outline: none;
  position: relative;
}
.footer__link::after {
  content: "";
  background-color: currentColor;
  height: 2px;
  position: absolute;
  bottom: -2px;
  left: 100%;
  right: 100%;
  transition: all 200ms linear;
}
.footer__link:hover::after, .footer__link:focus::after {
  left: 0;
  right: 0;
}
.footer__social {
  display: flex;
  justify-content: center;
  gap: 0 1rem;
  align-items: center;
  margin-bottom: 1.25rem;
  grid-area: social;
  list-style: none;
}
.footer__social a {
  text-decoration: none;
  color: inherit;
  outline: none;
  position: relative;
}
.footer__social a::after {
  content: "";
  background-color: currentColor;
  display: block;
  height: 2px;
  width: 0;
  position: absolute;
  bottom: -1.75rem;
  transition: all 200ms linear;
}
.footer__social a:hover::after, .footer__social a:focus::after {
  width: 1.625rem;
}
@media (min-width: 45rem) {
  .footer__social {
    justify-content: flex-end;
  }
}
.footer__copyright {
  opacity: 0.7;
  grid-area: copyright;
}
@media (min-width: 45rem) {
  .footer__copyright {
    text-align: right;
  }
}
