@import '../abstract/colors';

.creations {
    margin-top: 6rem;
    text-align: center;

    display: grid;
    @media (min-width: 45rem) {
        margin-top: 11.5rem;
        align-items: center;
        grid-template-areas: "title    title    button   button"
                             "items  items  items items";
    }

    &__item {
        position: relative;
        background-color: hsla(0 0% 0% / 0.4);
        transition: all 300ms linear;

        outline: none;
        cursor: pointer;

        &::after {
            content: attr(data-caption);
            text-transform: uppercase;
            color: $white;
            font-size: 1.5rem;
            font-family: $ff-alt;

            position: absolute;
            bottom: 1.625rem;
            left: 1.25rem;

            transition: all 300ms linear;

            @media (min-width: 60rem) {
                font-size: 2rem;
            }

            @media (min-width: 45rem) {
                margin-inline: auto;
                max-width: 10ch;
            }
        }

        &:hover, &:focus-within {
            &::after {
                color: $black;
                bottom: 10%;
            }
        }

        &:hover, &:focus-within {
            background-color: $white;
            img {
                filter: blur(1px) opacity(0.5);
            }
        }
    }

    img {
        mix-blend-mode: multiply;
    }

    &__items {
        list-style: none;
        display: inherit;
        grid-gap: 1.875rem;
        @media (min-width: 45rem) {
            grid-template-columns: repeat(2, 1fr);
            grid-area: items;
            text-align: initial;

            img {
                object-fit: cover;
                height: 28.125rem;
                width: 100%;
            }
        }
        @media (min-width: 60rem) {
           grid-template-columns: repeat(4, 1fr);
        }
    }

    &__title {
        max-width: 20ch;
        margin-inline: auto;
        font-family: $ff-alt;
        font-size: 2rem;
        line-height: 1;
        font-weight: normal;
        text-transform: uppercase;
        margin-bottom: 1.5rem;

        @media (min-width: 45rem) {
            grid-area: title;
            justify-self: start;
            margin-inline: initial;
            margin-bottom: 0;
        }

        @media (min-width: 60rem) {
            font-size: 3rem;
        }
    }

    &__button {
        text-decoration: none;
        text-transform: uppercase;
        color: $black;
        font-size: 0.875rem;

        padding: 0.9375em 2.6875em;
        border: 1px solid;
        margin-inline: auto;

        transition: all 200ms linear;

        &:hover, &:focus {
            color: $white;
            background-color: $black;
            outline: 1px solid;
            outline-offset: -6px;
        }

        @media (min-width: 45rem) {
            grid-area: button;
            margin-inline: initial;
            justify-self: end;
        }
    }
}
