@import '../abstract/colors';

.footer {
    margin-top: 6rem;
    padding-block: 3.5rem;
    background-color: $black;
    text-align: center;
    color: $white;

    @media (min-width: 45rem) {
        .container {
            display: grid;
            grid-template-areas: "logo social"
            "links copyright";
        }
    }

    &__img {
        margin-inline: auto;
        grid-area: logo;
        @media (min-width: 45rem) {
            margin-inline: initial;
        }
    }

    &__links {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 1.5rem 0;

        margin-block: 2rem 3rem;

        grid-area: links;
        @media (min-width: 45rem) {
            flex-direction: unset;
            gap: 0 1.5rem;
            margin-block: 0;
        }
    }

    &__link {
        text-decoration: none;
        text-transform: capitalize;
        font: inherit;
        color: inherit;
        outline: none;
        position: relative;

        &::after {
            content: "";
            background-color: currentColor;
            height: 2px;

            position: absolute;
            bottom: -2px;
            left: 100%;
            right: 100%;

            transition: all 200ms linear;
        }
        &:hover::after, &:focus::after {
            left: 0;
            right: 0;
        }
    }

    &__social {
        display: flex;
        justify-content: center;
        gap: 0 2rem;
        margin-bottom: 1.25rem;
        grid-area: social;

        list-style: none;
        a {
            text-decoration: none;
            color: inherit;
            outline: none;

            position: relative;
            &::after {
                content: "";
                background-color: currentColor;
                display: block;
                height: 2px;
                width: 0;

                position: absolute;
                bottom: -1.75rem;

                transition: all 200ms linear;
            }
            &:hover::after, &:focus::after {
                width: 1.625rem;
            }
        }

        @media (min-width: 45rem) {
            justify-content: flex-end;
        }
    }

    &__copyright {
        opacity: 0.7;
        grid-area: copyright;
        @media (min-width: 45rem) {
            text-align: right;
        }
    }
}
