.hamburger {
    width: 1.5rem;
    cursor: pointer;
    z-index: 2;

    span {
        display: block;
        height: 2px;
        width: 100%;
        background-color: white;

        transition: all 200ms linear;
    }

    span + span {
        margin-top: 5px;
    }
    @media (min-width: 45rem) {
        display: none;
    }
}

#toggle:checked + label > .top {
    transform: translateY(0.45rem) rotateZ(45deg);
}

#toggle:checked + label > .middle {
    width: 0;
}

#toggle:checked + label > .bottom {
    transform: translateY(-0.45rem) rotateZ(-45deg);
}
