.intro {
    margin-top: 6rem;
    text-align: center;

    @media (min-width: 60rem) {
        margin-top: 10rem;
        display: flex;
        justify-content: space-between;
        text-align: initial;
    }

    &__img, img {
        max-width: initial;
        width: 100%;
        @media (min-width: 60rem) {
            width: initial;
        }
    }

    &__content {
        padding: 4rem 2rem 0 2rem;

        @media (min-width: 60rem) {
            align-self: flex-end;
            background-color: $white;
            transform: translateX(-90%);
            padding: 4rem 0 0 5%;
            transition: all 250ms linear;
        }

        @media (min-width: 70rem) {
            transform: translateX(-60%);
        }

        @media (min-width: 85rem) {
            transform: translateX(-30%);
        }
    }

    &__title {
        max-width: 20ch;
        margin-inline: auto;
        margin-bottom: 1.5rem;
        font-family: $ff-alt;
        font-size: 2rem;
        line-height: 1;
        font-weight: normal;
        text-transform: uppercase;

        @media (min-width: 60rem) {
            margin-inline: initial;
            font-size: 3rem;
        }
    }

    &__text {
        max-width: 45ch;
        margin-inline: auto;
        margin-top: 1.5rem;
        opacity: 0.8;
        @media (min-width: 60rem) {
            margin-inline: initial;
            margin-top: 0;
            width: 45ch;
        }
    }
}
