---
layout: "index.njk"
title: Loopstudios
images:
  [
    {
      name: "one",
      mobile: "./images/mobile/image-deep-earth.jpg",
      desktop: "./images/desktop/image-deep-earth.jpg",
      alt: "deep earth",
    },
    {
      name: "two",
      mobile: "./images/mobile/image-night-arcade.jpg",
      desktop: "./images/desktop/image-night-arcade.jpg",
      alt: "night arcade",
    },
    {
      name: "three",
      mobile: "./images/mobile/image-soccer-team.jpg",
      desktop: "./images/desktop/image-soccer-team.jpg",
      alt: "soccer team vr",
    },
    {
      name: "four",
      mobile: "./images/mobile/image-grid.jpg",
      desktop: "./images/desktop/image-grid.jpg",
      alt: "the grid",
    },
    {
      name: "five",
      mobile: "./images/mobile/image-from-above.jpg",
      desktop: "./images/desktop/image-from-above.jpg",
      alt: "from up above vr",
    },
    {
      name: "six",
      mobile: "./images/mobile/image-pocket-borealis.jpg",
      desktop: "./images/desktop/image-pocket-borealis.jpg",
      alt: "pocket borealis",
    },
    {
      name: "seven",
      mobile: "./images/mobile/image-curiosity.jpg",
      desktop: "./images/desktop/image-curiosity.jpg",
      alt: "the curiosity",
    },
    {
      name: "eight",
      mobile: "./images/mobile/image-fisheye.jpg",
      desktop: "./images/desktop/image-fisheye.jpg",
      alt: "make it fisheye",
    },
  ]
---

<!-- header -->
<header class="header">
  <div class="header__navigation container">
    <img src="./images/logo.svg" alt="{{ title }} - Home" />
    <input type="checkbox" id="toggle" onchange="return toggle()" />
    <label class="hamburger" for="toggle" aria-controls="menu">
      <span class="top"> </span>
      <span class="middle"> </span>
      <span class="bottom"> </span>
    </label>
    <nav class="nav" id="menu">
      <ul class="nav__items container">
        <li class="nav__item">
          <a href="#intro" class="nav__link"> about </a>
        </li>
        <li class="nav__item">
          <a href="#0" class="nav__link"> careers </a>
        </li>
        <li class="nav__item">
          <a href="#0" class="nav__link"> events </a>
        </li>
        <li class="nav__item">
          <a href="#creations" class="nav__link"> products </a>
        </li>
        <li class="nav__item">
          <a href="#0" class="nav__link"> support </a>
        </li>
      </ul>
    </nav>
  </div>
  <section class="hero container">
    <h1 class="hero__title">Immersive experiences that deliver</h1>
  </section>
</header>
<!--end-of header -->

<!-- main -->
<main>
  <section class="intro container" id="intro">
    <picture class="intro__img">
      <source
        srcset="./images/desktop/image-interactive.jpg"
        media="(min-width: 60rem)"
      />
      <img src="./images/mobile/image-interactive.jpg" alt="A man using VR" />
    </picture>
    <div class="intro__content">
      <h2 class="intro__title">The leader in interactive VR</h2>
      <p class="intro__text">
        Founded in 2011, {{ title }} has been producing world-class virtual
        reality projects for some of the best companies around the globe. Our
        award-winning creations have transformed businesses through digital
        experiences that bind to their brand.
      </p>
    </div>
  </section>

  <section class="creations container" id="creations">
    <h2 class="creations__title">our creations</h2>
    <ul class="creations__items">
      {%- for image in images -%}
      <li class="creations__item" data-caption="{{ image.alt }}">
        <a href="#0" class="{{ image.name }} creations__link">
          <picture>
            <source srcset="{{image.desktop}}" media="(min-width: 45rem)" />
            <img src="{{ image.mobile }}" alt="{{ image.alt }}" />
          </picture>
        </a>
      </li>
      {%- endfor -%}
    </ul>
    <a href="#0" class="creations__button"> see all </a>
  </section>
</main>
<!-- end-of main -->

<!-- footer -->
<footer class="footer">
  <div class="container">
    <img
      class="footer__img"
      src="./images/logo.svg"
      alt="{{ title }} - footer"
    />
    <ul class="footer__links">
      <li><a href="#intro" class="footer__link">about</a></li>
      <li><a href="#0" class="footer__link">careers</a></li>
      <li><a href="#0" class="footer__link">events</a></li>
      <li><a href="#creations" class="footer__link">products</a></li>
      <li><a href="#0" class="footer__link">support</a></li>
    </ul>
    <ul class="footer__social">
      <li>
        <a href="#0">
          <img src="./images/icon-facebook.svg" alt="Facebook" />
        </a>
      </li>
      <li>
        <a href="#0">
          <img src="./images/icon-twitter.svg" alt="Twitter" />
        </a>
      </li>
      <li>
        <a href="#0">
          <img src="./images/icon-pinterest.svg" alt="Pinterest" />
        </a>
      </li>
      <li>
        <a href="#0">
          <img src="./images/icon-instagram.svg" alt="Instagram" />
        </a>
      </li>
    </ul>
    <p class="footer__copyright">&copy; {{ title }}. All rights reversed.</p>
  </div>
</footer>
<!-- end-of footer -->

<!-- script -->
<script>
  const checkbox = document.getElementById("toggle");
  const label = document.querySelector("#toggle + label");

  function toggle() {
    checkbox.checked
      ? label.setAttribute("aria-expanded", true)
      : label.setAttribute("aria-expanded", false);
  }
</script>
<!-- end-of script -->
